.idea
cache/*
log/*
config/databases.yml

lib/model/doctrine/base/*
lib/form/doctrine/base/*
lib/filter/doctrine/base/*
lib/model/doctrine/*/base/*
lib/form/doctrine/*/base/*
lib/filter/doctrine/*/base/*

data/sql/schema.sql

config/app.yml
config/factories.yml